# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Pytest cache
.cache/

# Ignore config files that may contain sensitive information
config.yaml